<div class="layout"
    *ngIf="tag"
    >
    <sidebar [isHomePage]="false" class="sidebar"></sidebar>
    <div class="content">
        <div class="content__inner">
            <div class="page">
                <h1 class="page__title">All Articles tagged as &quot;{{tag.title.value}}&quot;</h1>
                <div class="page__body">
                    <article *ngFor="let article of articles" [article]="article"></article>
                </div>
            </div>
        </div>
    </div>
</div>